PORT=3000
NODE_ENV=development

CLIENT_URL=http://localhost:3001

# Local Docker Mongo: RS single-node, no auth (dev). Production: use Atlas or auth + keyFile.
MONGO_URI=mongodb://127.0.0.1:27017/qlct?replicaSet=rs0&directConnection=true
REDIS_URL=redis://:redis@localhost:6379

JWT_ACCESS_TOKEN_SECRET=569063dcaa9b699ba7efde05a745ed16223358bc
JWT_REFRESH_TOKEN_SECRET=743f4c41c935b358d6b22c4b9850595680e197ae

GOOGLE_CLIENT_ID=469284733597-n0fa6v5iq1b8qfuu5umbcj4uj80cp0m6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/oauth/google/redirect