PORT=3000
NODE_ENV=development

CLIENT_URL=http://localhost:3001

MONGO_URI=mongodb://root:root@localhost:27017/qlct?authSource=admin
REDIS_URL=redis://:redis@localhost:6379

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/oauth/google/redirect